body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.book_item{
    padding:10px;
}

.book_image{
    width: 160px;
    height: 214px;
    margin: 9px;
}

.book_image_detail{
    width:300px;
    height:400px;
}

.search_bar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.book_title{
    font-size:48px;
}